.bottom-container{
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #41444b;
  color: white;
}

.top-title{
  margin-top:125px;
  background-color: #41aea9;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-size: 156.25%;
}

.text-fill{
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
}
