.bottom-container{
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #41444b;
  color: white;
}

.batas{
  width: 75%;
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
}

.container{
  margin-top: 200px;
  padding-bottom: 50px;
}

.row{
  padding-left: 100px;
  padding-right: 100px;
}

.data-profile{
  width : 250px;
}

.status-title{
  margin-bottom: 50px;
}

.name-data{
  font-size: 35px;
}
